<app-menu></app-menu>
<div class="container">
<div class="formulario">
    
    <div class="text">
        <h1>Contactenos</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga eum sapiente iusto quia explicabo voluptatem, eos modi commodi molestias minima tenetur debitis enim quisquam quo, quasi sunt soluta, eligendi repellendus!
        </p>
    </div>

    <div class="form">
        <label for="">Nombre</label>
        <input type="text">

        <label for="">Apellido</label>
        <input type="text">

        <label for="">Email</label>
        <input type="text">

        <label for="">Asunto</label>
        <input type="text">

        <label for="">Pregunta</label>
        <input type="text">
        <div class="boton">
            <button  routerLink="/contacto"> Enviar</button>
        </div>
    </div>

</div>
</div>
<app-footer></app-footer>
