<section class="menucontainer">
    <div class="contenedor">
        <div class="logo">
            <img src="../../../assets/images/logo.svg" alt="">
        </div>
        <div class="menu">
            <a href="" class="link" routerLink="/">Home</a>
            <a href="" class="link">About</a>
            <a href="" class="link"  routerLink="/contacto" >Contact</a>
            <a href="" class="link">Blog</a>
            <a href="" class="link">Carrers</a>
        </div>
        <div class="boton">
            <button  routerLink="/contacto"> Contactenos</button>
        </div>
    </div>
</section>