<section class="footer">
    <div>
        <div class="logo">
            <img src="../../../assets/images/logo.svg" alt="">
        </div>
        <div>
            <img src="../../../assets/images/icon-facebook.svg" alt="" class="redes">
            <img src="../../../assets/images/icon-youtube.svg" alt="" class="redes">
            <img src="../../../assets/images/icon-twitter.svg" alt="" class="redes">
            <img src="../../../assets/images/icon-pinterest.svg" alt="" class="redes">
            <img src="../../../assets/images/icon-instagram.svg" alt="" class="redes">
        </div>
    </div>

    <div class="columna1">
        <a href=""> About us</a>
        <a href=""  routerLink="/contacto" > Contact</a>
        <a href=""> Blog</a>
    </div>

    <div class="columna1">
        <a href=""> Careers</a>
        <a href=""> Support</a>
        <a href=""> Privacy Policy</a>
    </div>
    <div class="boton">
        <button>Request Invite</button>
        <p>Hecho Por Axel Moncada</p>
    </div>
</section>
